* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
img {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  overflow: hidden;
}
:root {
  --oragne: #ff7a5f;
  --black: #000;
  --light-black: #333;
  --white: #fff;
  --gray: #cacaca;
}
.max-height {
  height: 100%;
}
.product-price {
  .now-price {
    font-size: 2.4rem;
    color: var(--oragne);
  }
  .regular-price {
    @extend .now-price;
    color: var(--black);
    padding-left: 10px;
    text-decoration: line-through;
  }
}
.owl-prev {
  margin-right: 5px;
  outline: none;
  span {
    @include flexbox(flex,center,center);
    width: 3rem;
    height: 3rem;
    background: var(--white);
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 2rem;
    transition: .5s all;
    &:hover {
      background: var(--oragne);
      border: none;
      color: var(--white);
    }
  }
}
.owl-next {
  outline: none;
  span {
    @include flexbox(flex,center,center);
    width: 3rem;
    height: 3rem;
    background: var(--white);
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 2rem;
    transition: .5s all;
    &:hover {
      background: var(--oragne);
      border: none;
      color: var(--white);
    }
  }
}
.loadding {
  height: 100vh;
  @include flexbox(flex,center,center);
}
