.about
    .container-fluid 
        .about-bg
            div(class="about-content col-lg-8 col-12")
                h5.title-section__small about me
                h3.title-section NEQUE DIS NAM PARTURIENT 
                p Mauris interdum magna eu neque convallis, vel laoreet lectus ultrices. Mauris at ullamcorper orci. Maecenas in nulla erat. 
                .about-content__btn
                    a(class="button button--primary") read more 

                