.banner 
    div(class="container-fluid max-height")
        .banner-slides 
            div(class="banner-slides__item banner-slides__item--one")
                .banner-slides__text 
                    h5 let’s solve hunger together with monthly Offer
                    h4 perfect bottle grinder
                    .banner-button 
                        a(href="#" class="button") shop now
