.banner 
    div(class="container-fluid max-height")
        .banner-slides 
            div(class="banner-slides__item banner-slides__item--one ")
                .banner-slides__text 
                    h5 let’s solve hunger together with monthly Offer
                    h4 perfect bottle grinder
                    .banner-button 
                        a(href="#" class="button button--primary") shop now
            div(class="banner-slides__item banner-slides__item--two banner-slides__item--active")
                .banner-slides__text 
                    h5 let’s solve hunger together with monthly Offer
                    h4 Tumbler  Alarm Clock
                    .banner-button 
                        a(href="#" class="button button--primary") shop now
            div(class="banner-slides__prev")
                span(class="fas fa-angle-left")
            div(class="banner-slides__next")
                span(class="fas fa-angle-right")
            ul(class="banner-slides__dots")
                li.banner-slides__dot
                li(class="banner-slides__dot banner-slides__dot--active")