.blog 
    .container
        .blog-title
            h4(class="title-section-2") from our
                br 
                | blogs
        div(class="blog-slide owl-carousel")
            .blog-slide__item 
                .blog-img 
                    img(src="./images/blog-slide-1.jpg", alt="")
                .blog-text 
                    a.blog-text__title Temporibus autem quibusdam 
                    p.blog-text__author post by: 
                        span indecor-demo admin 
                        |- nov, 05, 18
                    .blog-text__btn 
                        a(class="btn-blog") readmore
            .blog-slide__item 
                .blog-img 
                    img(src="./images/blog-slide-2.jpg", alt="")
                .blog-text 
                    a.blog-text__title Temporibus autem quibusdam 
                    p.blog-text__author post by: 
                        span indecor-demo admin 
                        |- nov, 05, 18
                    .blog-text__btn 
                        a(class="btn-blog") readmore
            .blog-slide__item 
                .blog-img 
                    img(src="./images/blog-slide-3.jpg", alt="")
                .blog-text 
                    a.blog-text__title Temporibus autem quibusdam 
                    p.blog-text__author post by: 
                        span indecor-demo admin 
                        |- nov, 05, 18
                    .blog-text__btn 
                        a(class="btn-blog") readmore
            .blog-slide__item 
                .blog-img 
                    img(src="./images/blog-slide-4.jpg", alt="")
                .blog-text 
                    a.blog-text__title Temporibus autem quibusdam 
                    p.blog-text__author post by: 
                        span indecor-demo admin 
                        |- nov, 05, 18
                    .blog-text__btn 
                        a(class="btn-blog") readmore
            .blog-slide__item 
                .blog-img 
                    img(src="./images/blog-slide-5.jpg", alt="")
                .blog-text 
                    a.blog-text__title Temporibus autem quibusdam 
                    p.blog-text__author post by: 
                        span indecor-demo admin 
                        |- nov, 05, 18
                    .blog-text__btn 
                        a(class="btn-blog") readmore

            

