.brand
    .container
        //- -const item = ['col-6','col-sm-4','col-md-3','col-lg']
        //- div(class=item)
        div(class="brand-slide owl-carousel")
            .brand-slide__item 
                img(src="./images/brand1.webp", alt="") 
            .brand-slide__item 
                img(src="./images/brand2.webp", alt="") 
            .brand-slide__item 
                img(src="./images/brand3.webp", alt="") 
            .brand-slide__item 
                img(src="./images/brand4.webp", alt="") 
            .brand-slide__item 
                img(src="./images/brand5.webp", alt="") 
            .brand-slide__item 
                img(src="./images/brand1.webp", alt="") 
                