.feature 
    .container
        .feature-items 
            .row
                div(class="col-lg-4 col-12 col-md-12")
                    .feature-items__item    
                        .icon
                            span(class="flaticon-placeholder")
                        h4 free shipping worldwide
                div(class="col-lg-4 col-12 col-md-12")
                    .feature-items__item    
                        .icon
                            span(class="flaticon-headphones")
                        h4 free shipping worldwide
                div(class="col-lg-4 col-12 col-md-12")
                    .feature-items__item    
                        .icon
                            span(class="flaticon-credit-card-payment")
                        h4 free shipping worldwide