.footer 
    .footer-bg__top
        .container
            .footer-top
                    .row
                        -const classItem = ['col-lg-4','col-12','col-md-6']
                        -const classItem2 = ['col-lg-2','col-12','col-md-6']
                        div(class=classItem)
                            .footer-top__item
                                .item-logo
                                    img(src="./images/nav-logo.webp", alt="")
                                .item-social
                                    span(class="fab fa-twitter")
                                    span(class="fa fa-rss")
                                    span(class="fab fa-google-plus-g")
                                    span(class="fab fa-facebook-f")
                                    span(class="fab fa-youtube")
                                p(class="item-dsc") Mauris interdum magna eu neque convallis, vel laoreet lectus ultrices. Mauris at ullamcorper orci. Maecenas in nulla erat
                                .item-contact 
                                    .item-contact__phone 
                                        span +123.456.789 - +123.456.678
                                    .item-contact__mail 
                                        span support@devitems.com
                        div(class=classItem2)
                            .footer-top__item
                                .item-title infomation
                                ul.item-list 
                                    li.item-list__item
                                        a.item-list__link about us 
                                    li.item-list__item
                                        a.item-list__link Delivery Information 
                                    li.item-list__item
                                        a.item-list__link Privacy Policy 
                                    li.item-list__item
                                        a.item-list__link Terms & Conditions 
                                    li.item-list__item
                                        a.item-list__link Contact Us 
                                    li.item-list__item
                                        a.item-list__link Returns 
                                    li.item-list__item
                                        a.item-list__link site map 
                        div(class=classItem2)
                            .footer-top__item
                                .item-title extras
                                ul.item-list 
                                    li.item-list__item
                                        a.item-list__link brand 
                                    li.item-list__item
                                        a.item-list__link Delivery Information 
                                    li.item-list__item
                                        a.item-list__link Privacy Policy 
                                    li.item-list__item
                                        a.item-list__link Terms & Conditions 
                                    li.item-list__item
                                        a.item-list__link Contact Us 
                                    li.item-list__item
                                        a.item-list__link Returns 
                                    li.item-list__item
                                        a.item-list__link site map 
                        div(class=classItem)
                            .footer-top__item
                                .item-title send newsletter
                                p.item-dsc Sign up for our newsletter & promotions
                                .item-form
                                    input(type="text" class="submit-email" placeholder="email@example.com")
                                    button(class="button button--primary button-footer") subcribe
                                .item-title payments
                                img(src="./images/payment.webp", alt="")
    .footer-bg__bottom
        .container
            .footer-bottom    
                p.footer-bottom__dsc Copyright ©
                    a(href="#") 99 Shopify 
                    | All right reserved
                ul.footer-bottom__list
                    li.footer-bottom__list-item
                        a.footer-bottom__list-link about us
                    li.footer-bottom__list-item
                        a.footer-bottom__list-link customer service
                    li.footer-bottom__list-item
                        a.footer-bottom__list-link term & conditions
