.head 
    .container
        .head-container
            .head-logo 
                .logo
                    img(src="./images/nav-logo.webp", alt="Logo")
            div(class="head-search-area order-lg-1")
                ul
                    li(class="search")
                        span(class="flaticon-search")
                    li(class="currency")
                        a(href="#")
                            span(class="flaticon-padlock")
                            ul(class="currenct-dropdown")
                    li(class="cart")
                        a(href="#")
                            span(class="flaticon-shopping-cart")
                                span(class="cart-count") 0
                            span(class="cart-total") $0.00
                .head-mobile
                    .head-mobile__bars
                        div(class="bar bar--top")
                        div(class="bar bar--center")
                        div(class="bar bar--bottom")
            .head-nav
                ul.nav 
                    li.nav-item 
                        a(href="#" class="nav-link") home
                            span(class="fas fa-angle-down")
                            div(class="nav-plus")
                                span(class="fas fa-plus")
                    li.nav-item 
                        a(href="#" class="nav-link") shop
                            span(class="fas fa-angle-down")
                            div(class="nav-plus")
                                span(class="fas fa-plus")
                    li.nav-item 
                        a(href="#" class="nav-link") product
                            span(class="fas fa-angle-down")
                            div(class="nav-plus")
                                span(class="fas fa-plus")
                    li.nav-item 
                        a(href="#" class="nav-link") blog
                            span(class="fas fa-angle-down")
                            div(class="nav-plus")
                                span(class="fas fa-plus")
                    li.nav-item 
                        a(href="#" class="nav-link") page
                            span(class="fas fa-angle-down")
                            div(class="nav-plus")
                                span(class="fas fa-plus")
            