.home-detail
    .container-fluid
        .home-detail__bg
            div(class="home-detail__slide owl-carousel  col-lg-8") 
                .home-detail__item 
                    .item__img 
                        img(src="./images/tab-panel-1-1.webp", alt="")
                    .item__text 
                        a(href="#") product dummy title 
                        p.dsc Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, 
                        .product-price 
                            span.now-price $110.000
                            span.regular-price $130.000                
                .home-detail__item 
                    .item__img 
                        img(src="./images/tab-panel-1-2.webp", alt="")
                    .item__text 
                        a(href="#") product dummy title 
                        p.dsc Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, 
                        .product-price 
                            span.now-price $110.000
                            span.regular-price $130.000                
                .home-detail__item 
                    .item__img 
                        img(src="./images/tab-panel-1-3.webp", alt="")
                    .item__text 
                        a(href="#") product dummy title 
                        p.dsc Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, 
                        .product-price 
                            span.now-price $110.000
                            span.regular-price $130.000                