.list-product 
    .container 
        .list-product__area 
            .row 
                -const classListProduct = ['col-12','col-lg-4','col-md-6']
                div(class=classListProduct)
                    .list-products 
                        h3.list-products__title new arrivals
                        div(class="list-products__slide owl-carousel" id="list-arrivals")
                div(class=classListProduct)
                    .list-products 
                        h3.list-products__title best seller
                        div(class="list-products__slide owl-carousel" id="list-seller")
                div(class=classListProduct)
                    .list-products 
                        h3.list-products__title most view
                        div(class="list-products__slide owl-carousel" id="list-view")

                        

                                        

                                
                                
                                
