.product-area 
    .container 
        .product-area__title
                h4(class="title-section-2") our
                    br 
                    |product
                ul(class="tab-list")
                    li.tab-list__item
                        a(class="tab-list__link tab-list__link--active" data-tab="tab-sell") best seller 
                    li.tab-list__item
                        a(class="tab-list__link" data-tab="tab-deal") deal product 
                    li.tab-list__item
                        a(class="tab-list__link" data-tab="tab-most") most view 
        .product-area__tabs
            //render-here
            div(class="tab-panel tab-panel--active" id="tab-sell")
            //product-tab end          
            //product-tab start
            div(class="tab-panel" id="tab-deal")
            //product-tab end          
            //product-tab start
            div(class="tab-panel" id="tab-most")
            //product-tab start
            //product-tab end          