div(class="table-section")
    div(class="container")
        .table-section__content
            table(class="table")
                thead
                    //- tr
                    //-     -const theads = ['remove','image','product','price','quantity','total']
                    //-         each thead in theads
                    //-             th(class="table-title")= thead                    
                tbody 
                    //- tr
                    //-     td(class="table-content") 
                    //-         a(class="table-content__remove" data-id="1")
                    //-             span(class="fas fa-plus")
                    //-     td(class="table-content") 
                    //-         div(class="table-content__img")
                    //-             img(src="/images/tab-panel-1-5.webp", alt="image-product")
                    //-     td(class="table-content")
                    //-         a(href="#" class="table-content__title") new bag products
                    //-     td(class="table-content") 
                    //-         span(class="table-content__price") $80.00
                    //-     td(class="table-content")
                    //-         .table-content__quantity
                    //-             input(type="text" class="quantity-value" value="1")
                    //-             span(class="quantity-dec") +
                    //-             span(class="quantity-inc") - 
                    //-     td(class="table-content")
                    //-         span(class="table-content__total money") $80.00
            .cart-dynamic
                //- .row 
                //-     div(class="col-lg-7 col-md-12 col-12")
                //-         .cart-dynamic__all
                //-             .cart-dynamic__coupon      
                //-                 a(href="#" class="button button--dynamic") continue shopping
                //-                 a(href="#" class="button button--dynamic") clear cart
                //-                 .coupon__text
                //-                     h3 Special instructions for seller
                //-                     textarea(class="coupon__text-input")
                //-             .cart-dynamic__coupon-2
                //-                 a(href="#" class="button button--dynamic") update cart

                //-     div(class="col-lg-5 col-md-12 col-12")
                //-         .cart-dynamic__total 
                //-             h2 cart totals
                //-             ul
                //-                 li(class="sub-total")
                //-                     span(class="sub-total__title") subtotal 
                //-                     span(class="money") $80.00
                //-                 li(class="sub-total")
                //-                     span(class="sub-total__title") total
                //-                     span(class="money") $80.00
                                
                //-             a(class="button button--dynamic") proceed to checkout
            

