.about {
    padding-bottom: 4rem;
    &-bg {
        background: url('../images/about-bg.webp');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include flexbox(flex,center,center);
        padding: 8rem 15px;
    }
    &-content {
        display: inline-block;
        background: var(--white);
        text-align: center;
        padding: 2rem 15px 6rem 15px !important;
        @include reponsive (tablet) {
            padding: 2rem 15px 6rem 15px !important;
        }
        @include reponsive (laptop) {
            padding: 6rem 6rem 8rem 6rem !important;
        }
        @include reponsive (desktop) {
            padding: 6rem 15rem 8rem 15rem !important;
        }
        .title-section {
            padding: 15px 0;
        }
        p {
            padding: 15px 0;
            line-height: 25px;
            color: var(--light-black);
        }
        &__btn {
            margin-top: 3rem;
        }
    }
}