.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  @include flexbox(flex, center, center);
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    opacity: 1;
  }
  &-svg {
    svg {
      width: 15rem;
      height: 15rem;
      position: relative;
      animation: loading-rotate 3s linear infinite;
      circle {
        width: 100%;
        height: 100%;
        transform: translate(5px, 5px);
        fill: none;
        stroke-width: 10;
        stroke: #000;
        stroke-linecap: round;
        stroke-dashoffset: 440;
        stroke-dasharray: 440;
        animation: loading-svg 4s linear infinite;
      }
    }
  }
  &--off {
    visibility: hidden;
    opacity: 0;
    z-index: -999;
  }
}
