.product-area {
  padding: 5rem 0;
  &__title {
    .tab-list {
      @include flexbox(flex, center, center);
      padding: 15px 0;
      &__link {
        display: block;
        margin: 0 15px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
          color: var(--oragne);
          text-decoration: underline;
        }
        &--active {
          color: var(--oragne);
          text-decoration: underline;
        }
      }
    }
  }
  &__tabs {
    padding: 3rem 0;
    position: relative;
    .tab-panel {
      width: 100%;
      display: none;
      &--active {
        display: block;
        animation-name: fade;
        animation-duration: 1s ;
      }
    }
  }
}
