<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Indecor
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/grid.css")
        link(rel="stylesheet", href="./font/flaticon.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    body
        include ./layout/head.pug
        include ./layout/banner.pug
        include ./layout/feature.pug
        include ./layout/collection.pug
        include ./layout/product.pug
        
        script(src="./vendor/jquery/jquery-3.5.1.js")
        script(src="./vendor/slick/slick.min.js")
        script(src="./js/slick.js")
        script(src="./js/main.js")
        